 <!- -
p {
font-family: arial;
font-size:36pt
text-align: justify;
color: black;
}
body {
    background-image: url("bg1.png");
    background-size: 100%;
    background-attachment: fixed;
}
h1 {
font-family: BUDMO JIGGLER;
font-size: 50pt;
font-style: bold;
text-align: center;
color: darkgreen;
margin-top: 100px;
}
a:link, a:visited {
    background-color: darkgreen;
    color: white;
    padding: 30px 50px;
    font-size: 24pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
}
a:hover, a:active {
    background-color: lightseagreen;
}
a.tengah {
   font-family: April Flowers;
   margin-left: 290px;
   margin-top: 150px;

}
- ->