 <!- -
p {
font-family: arial;
font-size:36pt
text-align: justify;
color: black;
}
body {
    background-image: url("bg14.jpg");
    background-repeat: no-repeat;
    background-position: top;
	background-size: 100%;
}
a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
}
a:hover, a:active {
    background-color: white;
}
a.tengah {
	margin-left: 1000px;
}
table {
    border-collapse: collapse;
}
th {
    height: 100px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    height: 100px;
}
fieldset{
	margin-left: 50px;
}
- ->